<div class="max-w-7xl w-full mx-auto py-24 px-4">
  <%= form_with model: post, url: url, html: { multipart: true } do |f| %>
    <div class="mb-4">
      <%= f.label :title, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
      <%= f.text_field :title, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
    </div>

    <!-- Banner Image Field -->
    <div class="mb-4">
      <%= f.label :banner_image, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
      <%= f.file_field :banner_image, class: "block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" %>
      <div class="mt-1 text-sm text-gray-500 dark:text-gray-300">A picture related to the post is useful and important for each blog</div>
    </div>

    <div class="mb-4">
      <%= f.label :body, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
      <%= f.rich_text_area :body, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
    </div>

    <div class="flex items-center justify-between">
      <%= f.submit "Update Post", class: "bg-blue-500 text-white px-4 py-2 rounded" %>
      <%= link_to 'Cancel', post_path(post), class: "bg-gray-500 text-white px-4 py-2 rounded" %>
    </div>
  <% end %>
</div>

